body,
html {
    width: 100%;
    height: 100%;
    font-family: Helvetica,"Microsoft Yahei","Hiragino Sans GB","WenQuanYi Micro Hei",Arial,sans-serif!important;
    background-color: #FFFFFF;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

h2 {
    font-weight: 600;
    font-size: 25px;
}
h4 {
    font-weight: 500;
    font-size: 20px;
}

.home{
    background-color: #043e6c;
    height:100%;
    width:100%;
    text-align: center;
}

.home-wrapper {
    height: 72%;
    text-align: center;
    color: #06497D;
    background: url(../img/new_bg.jpg) no-repeat center 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media(max-width:1600px) {
    .home-wrapper {
        height: 72%;
        text-align: center;
        color: #06497D;
        background: url(../img/new_bg.jpg) no-repeat center 30px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}
.devops-home-wrapper {
    height: 100%;
    text-align: center;
    color: #06497D;
    background: url(../img/products/devops-bg.jpg) no-repeat center 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.hybridclouds-home-wrapper {
    height: 100%;
    text-align: center;
    color: #06497D;
    background: url(../img/products/hybridclouds-bg.jpg) no-repeat center 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.costanalytics-home-wrapper {
    height: 100%;
    text-align: center;
    color: #06497D;
    background: url(../img/products/costanalytics-bg.jpg) no-repeat center 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.product-intro-header {
    padding-top: 30%;
    min-height:100%;
    font-weight: normal;
    font-size: 40px;
    color: #ffffff;
}
.intro-header {
    min-height:100%;
}

.aliyun-layout {
    position: absolute;
    top: 0px;
    z-index: 4;
    color: #BABABA;
    font-size: 13px;
    font-weight: 300;
    line-height: 25px;
    padding: 0px 0px 0px 0px;
    float: right;
}

.login-layout {
    padding: 5px 0px 0px;
    float: right;
}

.intro-text {
    font-size: 70px;
    font-weight: 500;
    text-align:center;
    color: white;
    margin-top: 30%;
}
.intro-desc {
    font-size: 35px;
    font-family: Arial, sans-serif;
    font-weight:300;
    color: #ffffff;
}
#intro-btn {
    position: relative;
    text-align: center;
    padding-top: 180px;
}
.intro-btn-login {
    outline-style: none;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #00c9df;
    white-space: nowrap;
    padding: 1px 16px;
    font-size: 15px;
    line-height: 1.825;
    /*border-radius: 2px;*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #00c9df;
    color: #FFF;
    width:84px;
}
.intro-btn {
    outline-style: none;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 300;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #00c9df;
    white-space: nowrap;
    padding: 1px 16px;
    font-size: 15px;
    line-height: 1.825;
    /*border-radius: 2px;*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #00c9df;
    background-color: transparent;
    width:84px;
}

@media (min-width: 1600px) {
    .navbar-right .login-dropdown-menu {
        right: 123px;
    }
}
.login-dropdown-menu {
    position: absolute;
    top: 42px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 150px;
    padding: 10px 10px;
    margin: 5px 60px 5px 5px;
    font-size: 14px;
    text-align: left;
    list-style: none;
    border-radius: 0;
    background-color: #2b415a;
    border: 1px solid rgb(0, 201, 223);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.login-dropdown-menu > li > a {
    color: #00c9df;
}

.login-dropdown-menu > li > a:hover,
.login-dropdown-menu > li > a:focus {
    color: #00eaff;
    text-decoration: none;
    background-color: #2b415a;
}

.intro-btn-login:hover,
.intro-btn-login:active,
.intro-btn-login:focus {
    outline-style: none;
    color: #FFF;
    background-color: #00b5cc;
    border-color: #00b5cc;
    text-decoration: none;
    box-shadow: 0 2px 0 transparent;
    -webkit-transition: color 0.2s ease-in-out,background-color 0.2s ease-in-out,top 0.1s linear,box-shadow 0.1s linear, border-color 0.2s linear;
    -o-transition: color 0.2s ease-in-out,background-color 0.2s ease-in-out,top 0.1s linear,box-shadow 0.1s linear,border-color 0.2s linear;
    transition: color 0.2s ease-in-out,background-color 0.2s ease-in-out,top 0.1s linear,box-shadow 0.1s linear,border-color 0.2s linear;
}

.intro-btn:hover,
.intro-btn:active,
.intro-btn:focus {
    outline-style: none;
    color: #00eaff;
    background-color: transparent;
    border-color: #00eaff;
    text-decoration: none;
    box-shadow: 0 2px 0 transparent;
    -webkit-transition: color 0.2s ease-in-out,background-color 0.2s ease-in-out,top 0.1s linear,box-shadow 0.1s linear, border-color 0.2s linear;
    -o-transition: color 0.2s ease-in-out,background-color 0.2s ease-in-out,top 0.1s linear,box-shadow 0.1s linear,border-color 0.2s linear;
    transition: color 0.2s ease-in-out,background-color 0.2s ease-in-out,top 0.1s linear,box-shadow 0.1s linear,border-color 0.2s linear;
}


#introductions .container{
    display: table;
}

#introductions .row {
    padding-top: 0px;
    padding-bottom: 0px;
    display: table-cell;
    vertical-align: middle;
}
@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.content-section-a .lead ul li{
    list-style-image: url("/img/li_selected_bullet_take_actions.gif");
}

.content-section-b .lead ul li{
    list-style-image: url("/img/li_selected_bullet_take_actions.gif");
}

.content-section-b {
    border-top: 1px solid #F1F1F1;
    border-bottom: 1px solid #F1F1F1;
    background-color: #F1F1F1;
}

.section-heading {
    margin-bottom: 30px;
}

.banner {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #00355D;
    background-size: cover;
    color:#FFFFFF;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
    color: #FFFFFF;
}

.banner ul {
    margin-bottom: 0;
}

.banner ul>li>p.ptitle{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.80);
    font-weight: 200;
}

.banner ul>li>p {
    font-size: 18px;
    font-weight: 200;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .navbar-toggle {
        margin-top: -47px;
    }
    .aliyun-layout, .login-layout{
        display: none;
    }
    .home-wrapper{
        background-color: #043e6c;
    }
    .home{
        height:100%;
        text-align: center;
        color: #06497D;
        background: url(../img/home-bg-5.png) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .intro-text {
        display: block;
        padding-top: 40%;
        width: 100%;
        font-size: 30px;
        line-height: 30px;
        color: #FFF;
    }
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .case-tab .case-item > .col-md-3{
        padding-bottom: 12px;
    }

    #case-item-id {
        border-top: solid 1px #f0f0ff;
        height: 100%;
        padding-top: 30px;
        padding-bottom: 30px
    }


}

footer {
    background-color: #002540;
    font-weight: 200;
    color: #969DA5;
    margin-bottom: 0;
}

p.copyright {
    margin: 15px 0 0;
}


/* Customers */

#customer-container {
    padding-top: 60px;
    max-width: 80%;
    margin-top: 30px;
    margin-bottom: 100px;
    min-height: 500px;
}

.container .case-tab {
    display: none
}

.container .case-tab:first-child {
    display: block
}

.case-tab .case-item {
    border-top: solid 1px #f0f0ff;
    height: 210px;
    padding-top: 30px;
    padding-bottom: 30px
}



.case-tab .case-item:first-child {
    border-top: none;
    margin-top: 40px

}

.container a.case-logo {
    display: block;
    width: 200px;
    height: 122px;
    border: 1px solid #f0f0ff;
    text-align: center
}

.case-logo img {
    max-width: 198px;
}

.container .case-item h2 {
    margin-top: 0px;
    font-size: 24px;
}

.container .case-item h2 a{
    margin-top: 0;
    margin-bottom: 15px;
    color: #2c2f35;
}

.case-item p {
    font-size: 16px;
    line-height: 1.6em;
    text-indent: 0!important;
    font-weight: 300;
}
/* about */
#about-container {
    padding-top: 60px;
    max-width: 80%;
    margin-top: 30px;
    margin-bottom: 100px;
    min-height: 500px;
}

#about-container h2 {
    font-size: 24px;
}

#about-container p {
    font-size: 16px;
    line-height: 1.6em;
    text-indent: 0!important;
    font-weight: 300;
}

/* dropdown menu*/
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    margin-top: 3px;
    right: 20px;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:14px;
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0;
}
#login-dp .social-buttons a{
    width: 97%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-github {
    color: #fff;
    background-color:#444444;
}
.btn-github:hover{
    color: #fff;
    background-color:#000;
}
.btn-aliyun {
    color: #fff;
    background-color:#FFAE00;
}
.btn-aliyun:hover{
    color: #fff;
    background-color:#F89828;
}
#login-dp .bottom a:hover {
    text-decoration:none;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

/* User story Section*/
.carousel-indicators li {
    border:1px solid #002540;
}

.carousel-indicators li.active {
    background: #002540;
}
#userstory {
    background: #F1F1F1;
}

.carousel-caption {
    color: #000;
    text-shadow: none;
    bottom: 40px;
}

.carousel-caption p {
    color: #002540;
    font-weight: 300;
    font-size: 20px;
}

.carousel-caption h4{
    margin-top: 40px;
    font-weight: 500;
}

.carousel-caption h5 {
    font-style: italic;
    font-weight: 300;
}
#userstory .item {
    text-align: center;
    background: #F1F1F1;
    height: 300px !important;
}

.carousel-control  {
    z-index: 20;
    width: 10%;
    opacity: .3;
}

/*Download*/
.deploy-item {
    border-top: solid 1px #f0f0ff;
    height: 210px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar-nav > li > .dropdown-menu {
    border-radius: 3px;
    border: 1px solid #d0d0d0;
    padding: 5px 5px 10px 10px;
}
.more .dropdown-menu {
    padding: 5px 5px 10px 10px;
    min-width: 200px;
    border-radius: 3px;
    border: 1px solid #d0d0d0;
}
.media-container {
    padding: 10px 5px 5px;
}

.media-container a:hover {
    text-decoration: none;
}
.media-left {
    position: relative;
    top: -8px;
}
.media-left img {
    width: 80px;
    height: 80px;
}

.media-body h5 {
    color: #353535;
    font-weight: 500;
}

.media-body h6 {
    color: #7d7d7d;
    font-weight:300;
}

.navbar {
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.navbar.scrolled {
    background: rgb(68, 68, 68); //IE
    background: rgba(0, 0, 0, 0.78); //NON-IE
}

.whitepaper {
    background-size: cover;
    background: url(../img/partners/wave-back.jpg) no-repeat bottom center;
    border-bottom: 1px solid #F1F1F1;
    position: relative;
    padding:6.875rem 0;
}

.col-lg-pull-10px {
    right: 10px;
}
