<section id="contact">
	<div class="banner">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-sm-6">
					<img style="height: 48px;" src="/img/f2c-header.png">
					<h4 style="font-size: 16px; font-weight: 200; padding-left: 10px; color: rgba(255, 255, 255, 0.80)">混合云管理及DevOps协作平台</h4>
				</div>
				<div class="col-lg-5 col-lg-offset-2 col-sm-6">
					<ul>
						<li>
							<p class="ptitle"><a style="color:rgba(255, 255, 255, 0.80);" href="http://www.mikecrm.com/f.php?t=5r5Pjr" target="_blank">在线留言</a></p>
						</li>					
						<li>
							<p class="ptitle">邮件: <a  target="_blank" style="color:rgba(255, 255, 255, 0.80);"  href="mailto:support@fit2cloud.com?Subject=产品咨询" target="_top">support@fit2cloud.com</a></p>
						</li>
						<li>
							<p class="ptitle">微博: <a target="_blank" style="color:rgba(255, 255, 255, 0.80);"  href="http://weibo.com/fit2cloud">@fit2cloud</a></p>
						</li>
						<li>
							<p class="ptitle">地址: <a target="_blank" style="color:rgba(255, 255, 255, 0.80);"  href="http://j.map.baidu.com/RY8Mo">杭州市西湖区杭州云计算产业园2区3幢4层A6</a></p>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /.container -->
	</div>
</section>
<!-- /.banner -->
