<section id="contact">
	<div class="banner">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-sm-6">
					<h2>FIT2CLOUD</h2>
					<h4 style="font-weight: 300;">云管理及 DevOps 协作平台</h4>
				</div>
				<div class="col-lg-5 col-lg-offset-2 col-sm-6">
					<ul>
						<li>
							<p class="ptitle">企业联系电话:</p>
							<p>1388888888</p>
						</li>
						<li>
							<p class="ptitle">邮件:</p>
							<p>support@fit2cloud.com</p>
						</li>
						<li>
							<p class="ptitle">支持QQ:</p>
							<p>330842973</p>
						</li>
					</ul>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->