<section id="contact">
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <img style="height: 48px;" src="/img/f2c-header.png">
                    <h4 style="font-size: 16px; font-weight: 200; padding-left: 10px; color: rgba(255, 255, 255, 0.80)">混合云管理平台及服务提供商</h4>
                    <img src="/img/qr.png" style="width:120px; margin-top: 10px; margin-left: 50px"/>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <ul style="padding-top: 20px">
                        <li>
                            <p class="ptitle">电子邮件: <a target="_blank" style="color:rgba(255, 255, 255, 0.80);"
                                                       href="mailto:support@fit2cloud.com?Subject=产品咨询" target="_top">support@fit2cloud.com</a></p>
                        </li>
                        <li>
                            <p class="ptitle">联系电话：4000520755</p>
                        </li>
                        <li>
                            <p class="ptitle">北区办公地址:北京市朝阳区建国路93号万达广场3号楼3108</p>
                        </li>
                        <li>
                            <p class="ptitle">东区办公地址:上海市徐汇区中山西路2025号永升大厦906室</p>
                        </li>
                        <li>
                            <p class="ptitle">南区办公地址:深圳市南山区科苑路东方科技大厦510室</p>
                        </li>
                    </ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
