<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline" style="text-align: center">
                    <li>
                        <a class="text-muted small" href="http://www.miitbeian.gov.cn/">浙ICP备14038283号</a>
                    </li>
                    <li>
                        <p class="copyright text-muted small">2017 版权所有 ©杭州飞致云信息科技有限公司</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
