<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords}}">
    <meta name="author" content="{{ site.author }}">
    <link rel="icon" href="/img/favicon.bmp" type="image/x-icon">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{base.url}}/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{base.url}}/css/landing-page.css" rel="stylesheet">
    <link href="{{base.url}}/css/partners.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{base.url}}/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!--<link href="http://fonts.useso.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.js"></script>
    <script src="http://libs.useso.com/js/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <a class="logo" href="/#home"><img src="/img/f2c-header.png"></a>
        </div>
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li class="active">
                    <a class="page-scroll" href="/">首页</a>
                </li>
                <li id="productList" class="dropdown">
                    <a class="dropdown-toggle" href="/product">产品
                    </a>
                    <ul class="dropdown-menu" style="min-width: 100px;">
                        <li class="item">
                            <a data-permalink class="media-heading" style="cursor: pointer" href="/product#it">混合 IT 对接</a>
                        </li>
                        <li class="item">
                            <a data-permalink class="media-heading" style="cursor: pointer" href="/product#menage">管理中心</a>
                        </li>
                        <li class="item">
                            <a data-permalink class="media-heading" style="cursor: pointer" href="/product#resource">资源统计分析平台</a>
                        </li>
                        <li class="item">
                            <a data-permalink class="media-heading" style="cursor: pointer" href="/product#self_service">自服务平台</a>
                        </li>
                        <li class="item">
                            <a data-permalink class="media-heading" style="cursor: pointer" href="/product#devops">DevOps 平台</a>
                        </li>
                        <li class="item">
                            <a data-permalink class="media-heading" style="cursor: pointer" href="/product#jumpserver">JumpServer 堡垒机(扩展模块)</a>
                        </li>
                        <li class="item">
                            <a data-permalink class="media-heading" style="cursor: pointer" href="/product#aliyun">云费用管理平台(扩展模块)</a>
                        </li>
                    </ul>
                </li>

                <li id="solutionList" class="dropdown">
                    <a class="dropdown-toggle" href="/solution">解决方案
                    </a>
                    <ul class="dropdown-menu" style="min-width: 100px;">
                        <li class="item">
                            <a data-permalink class="media-heading" style="cursor: pointer" href="/solution#vSphere">vSphere 云化解决方案</a>
                        </li>
                        <li class="item">
                            <a data-permalink class="media-heading" style="cursor: pointer" href="/solution#test">开发测试云解决方案</a>
                        </li>
                    </ul>
                </li>


                <li id="customersList" class="dropdown">
                    <a class="dropdown-toggle" href="/customers">案例
                    </a>
                    <ul class="dropdown-menu" style="min-width: 100px;">
                        <li class="item">
                            <a data-permalink class="media-heading" style="cursor: pointer" href="/customers#finance">金融</a>
                        </li>
                        <li class="item">
                            <a data-permalink class="media-heading" style="cursor: pointer" href="/customers#manufacture">制造</a>
                        </li>
                        <li class="item">
                            <a data-permalink class="media-heading" style="cursor: pointer" href="/customers#media">媒体</a>
                        </li>
                        <li class="item">
                            <a data-permalink class="media-heading" style="cursor: pointer" href="/customers#gaming">互联网</a>
                        </li>
                        <li class="item">
                            <a data-permalink class="media-heading" style="cursor: pointer" href="/customers#other">其他</a>
                        </li>
                    </ul>
                </li>
                <li><a href="http://blog.fit2cloud.com" target="_blank">博客</a></li>
                <li><a href="/about" class="page-scroll">关于我们</a></li>
                <li><a href="https://www.lagou.com/gongsi/179666.html" target="_blank">加入我们</a></li>
            </ul>
            <ul class="navbar-nav navbar-right">
                <span style="margin-right: 8px">
                     <a href="https://jinshuju.net/f/UFPJsq" target="_blank" class="btn btn-primary"
                        style="padding-left: 5px;padding-right: 5px; padding-top: 5px;padding-bottom: 5px;margin-top: 8px;margin-left: 100px;">&nbsp;&nbsp;预约演示&nbsp;&nbsp;</a>
                </span>
                <span class="login-layout">
                    <a class="intro-btn" style="font-size: 15px; margin-top:4px" data-toggle="dropdown">登录<span class="caret"></span></a>
                    <ul class="dropdown-menu login-dropdown-menu" role="menu">
                        <li><a href="https://console.fit2cloud.com/login">FIT2CLOUD DevOps协作平台</a></li>
 			<li><a href="https://cost.fit2cloud.com/login">FIT2CLOUD 云费用管理平台（AWS）</a></li>
 			<li><a href="https://cost-aliyun.fit2cloud.com/login">FIT2CLOUD 云费用管理平台（阿里云）</a></li>
                    </ul>
                </span>
            </ul>
        </div>
    </div>
</nav>
