<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords}}">
    <meta name="author" content="{{ site.author }}">
    <link rel="icon" href="../img/favicon.bmp" type="image/x-icon">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{base.url}}/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{base.url}}/css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{base.url}}/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!--<link href="http://fonts.useso.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.js"></script>
        <script src="http://libs.useso.com/js/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <a class="logo" href="/#home"><img src="/img/f2c-header.png"></a>
        </div>
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a class="page-scroll" href="/#home">首页</a>
                </li>
                <li>
                    <a class="page-scroll" href="/#introductions">解决方案</a>
                </li>
                <li>
                    <a class="page-scroll" href="/customers">案例</a>
                </li>
                <li>
                    <a class="page-scroll" href="/pricing">价格</a>
                </li>
                <li>
                    <a class="page-scroll" target="_blank" href="http://blog.fit2cloud.com">博客</a>
                </li>
                <li>
                    <a class="page-scroll" target="_blank" href="http://docs.fit2cloud.com">文档</a>
                </li>
                <li>
                    <a class="page-scroll" href="/about">关于</a>
                </li>
                </ul>
                <ul class="navbar-nav navbar-right">
                <div>
                <a class="intro-btn" data-toggle="dropdown" style="font-size: 14px; padding: 5px 8px;margin-top:4px" href="#">FIT2CLOUD (阿里云版)<span class="caret"></span></a>
                <ul id="login-dp" class="dropdown-menu">
                    <li>
                        <div class="row">
                            <div class="col-md-12">
                                在线试用：
                                <div class="social-buttons">
                                    <a href="https://aliyun.fit2cloud.com/login" class="btn btn-github"><i class="fa fa-github"></i>&nbsp; Github帐号登录</a>
                                </div>
                                一键部署：
                                <br>
                                <div class="social-buttons">
                                    <a href="http://market.aliyun.com/products/53690006/jxsc000119.html" class="btn btn-aliyun">FIT2CLOUD (阿里云版) 镜像</a>
                                </div>
                            </div>
                            <div class="bottom text-center">
                                <a href="http://www.mikecrm.com/f.php?t=5r5Pjr">如需帮助，点此联系我们</a>
                            </div>
                        </div>
                    </li>
                </ul>
                </div>
            </ul>
        </div>
    </div>
</nav>
