<!-- jQuery Version 1.11.0 -->
<script src="{{base.url}}/js/jquery-1.11.0.js"></script>

<!-- Plugin JavaScript -->
    <script src="{{base.url}}/js/jquery.easing.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{base.url}}/js/bootstrap.js"></script>

<!-- Custom Theme JavaScript -->
<script src="{{base.url}}/js/landing-page.js"></script>
<!--
<script type="text/javascript">var _hmt = _hmt || [];
(function() {
    var hm = document.createElement("script");
    hm.src = "//hm.baidu.com/hm.js?02806d8ed08e46753e1d7606fda5a476";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
})();</script> -->
