<section id="partners">
    <div class="container" style="padding-bottom: 20px;">
        <div class="row" style="padding-top: 20px">
            <div class="col-lg-12 text-center">
                <h3>合作伙伴</h3>
                <hr class="star-light" style="border-color:#d7d7d7">
            </div>
        </div>
        <!-- 希望哪位大哥帮我改改,不会前端 -->
        <div class="row partner">
            <div class="col-sm-3 partner-item">
                <a target="_blank" href="http://aws.amazon.com/partners/" class="partner-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                        </div>
                    </div>
                    <img src="/img/partners/apn.png" class="img-responsive img-centered"
                         alt="">
                </a>
            </div>
            <div class="col-sm-3 partner-item">
                <a target="_blank" href="http://www.dell.com/" class="partner-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                        </div>
                    </div>
                    <img src="/img/partners/dell.png" class="img-responsive img-centered" style="padding-top:20px"
                         alt="">
                </a>
            </div>
            <div class="col-sm-3 partner-item">
                <a target="_blank" href="http://ustack.com/" class="partner-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                        </div>
                    </div>
                    <img src="/img/partners/smyk.png" class="img-responsive img-centered" style="padding-top:20px"
                         alt="">
                    <span class="text-center">生态合作伙伴</span>
                </a>
            </div>

             <!--<div class="col-sm-3 partner-item">-->
                <!--<a target="_blank" href="http://www.umcloud.com" class="partner-link" data-toggle="modal">-->
                    <!--<div class="caption">-->
                        <!--<div class="caption-content">-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<img src="/img/partners/umcloud.png" style="height:80px" class="img-responsive img-centered"-->
                         <!--style="margin-top: -8px">-->
                    <!--<span class="text-center">生态合作伙伴</span>-->
                <!--</a>-->
            <!--</div>-->
            <div class="col-sm-3 partner-item">
                <a target="_blank" href="http://partner.aliyun.com/" class="partner-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                        </div>
                    </div>
                    <img src="/img/partners/aliyun.jpg" style="height:100px" class="img-responsive img-centered"
                         style="margin-top: -8px">
                    <span class="text-center">技术平台金牌合作伙伴</span>
                </a>
            </div>
            <div class="col-sm-3 partner-item">
                <a target="_blank" href="https://www.ucloud.cn/site/umarket/detail.html?appId=53" class="partner-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                        </div>
                    </div>
                    <img src="/img/partners/ucloud.png" style="height:80px" class="img-responsive img-centered"
                         style="margin-top: -8px">
                    <span class="text-center">U市场合作伙伴</span>
                </a>
            </div>

            <div class="col-sm-3 partner-item">
                <a target="_blank" href="https://www.qingcloud.com/" class="partner-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                        </div>
                    </div>
                    <img src="/img/partners/qingcloud.jpg" class="img-responsive img-centered" alt="">
                    <span class="text-center">应用中心合作伙伴</span>
                </a>
            </div>
            <div class="col-sm-3 partner-item">
                <a target="_blank" href="http://www.idccun.com/" class="partner-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                        </div>
                    </div>
                    <img src="/img/partners/bih.png" style="margin-left: 60px; margin-top: 10px;"
                         class="img-responsive img-centered" alt="">
                    <span class="text-center">生态合作伙伴</span>
                </a>
            </div>
            <div class="col-sm-3 partner-item">
                <a target="_blank" href="http://www.easystack.cn" class="partner-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                        </div>
                    </div>
                    <img src="/img/partners/easystack.png" style="height: 100px;"
                         class="img-responsive img-centered" alt="">
                    <span class="text-center">生态合作伙伴</span>
                </a>
            </div>
        </div>
    </div>
</section>
