<section id="partners">
    <div class="container" style="padding-bottom: 20px;">
        <div class="row" style="padding-top: 20px">
            <div class="col-lg-12 text-center">
                <h3>合作伙伴</h3>
                <hr class="star-light" style="border-color:#d7d7d7">
            </div>
        </div>
        <div class="row" id="partner">
            <div class="col-sm-4 partner-item">
                <a target="_blank" href="http://partner.aliyun.com/" class="partner-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                        </div>
                    </div>
                    <img src="/img/partners/aliyun.jpg" class="img-responsive img-centered" style="margin-top: -8px">
                    <span class="text-center">技术平台金牌合作伙伴</span>
                </a>
            </div>
            <div class="col-sm-4 partner-item">
                <a target="_blank" href="http://aws.amazon.com/partners/" class="partner-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                        </div>
                    </div>
                    <img src="/img/partners/apn.png" class="img-responsive img-centered" alt="">
                    <span class="text-center">APN标准技术合作伙伴</span>
                </a>
            </div>
            <div class="col-sm-4 partner-item">
                <a target="_blank" href="https://www.qingcloud.com/" class="partner-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                        </div>
                    </div>
                    <img src="/img/partners/qingcloud.jpg" class="img-responsive img-centered" alt="">
                    <span class="text-center">应用中心合作伙伴</span>
                </a>
            </div>
        </div>
    </div>
</section>
