<section id="main" class="content-section-b" style="padding-top: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="product-text" style="font-size: 24px">产品整体架构</p>
            </div>
            <div style="text-align: center;margin-bottom: 50px">
                <img src="/img/product_main1.png" height="360px"  >
            </div>
        </div>
    </div>
</section>

<!-- Page Content -->
{% for post in site.categories.devops reversed %}
{% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
{% if thecycle == 'odd' %}
<section id="{{post.jump}}" class="content-section-a" style="padding-top: 50px;padding-bottom: -120px">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6 col-sm-offset-1">
                <div class="clearfix"></div>
                <br/>
                <br/>
                <br/>
                <h2 class="section-heading">{{ post.title }}</h2>
                <h4 class="section-subheading"> {{ post.description }}</h4>
                <div class="lead">{{ post.content }}</div>
            </div>
            <div class="col-lg-5 col-sm-6">
                <img class="img-responsive"
                     style="max-width:650px; max-height: 370px;padding-top: 20px; padding-bottom: 20px;"
                     src="/img/products/{{ post.img }}" alt="">
            </div>
        </div>

    </div>
</section>
{% else %}
<section id="{{post.jump}}" class="content-section-b" style="padding-top: 50px;padding-bottom: -120px">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <div class="clearfix"></div>
                <br/>
                <br/>
                <br/>
                <h2 class="section-heading">{{ post.title }}</h2>
                <h4 class="section-subheading"> {{ post.description }}</h4>
                <div class="lead">{{ post.content }}</div>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive"
                     style="max-width:650px; max-height: 370px; padding-top: 20px; padding-bottom: 20px;"
                     src="/img/products/{{ post.img }}" alt="">
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endfor %}

