<div id="customer-container" class="container" style="margin-top: 0px">
    <section id="vSphere">
        <div class="row">
            <div class="case-tab" id="case_400">
                <div class="case-item" id="case-item-id">
                    <div class="col-md-12" style="border-bottom: 1px solid #DFDFDF;margin-bottom: 10px;line-height: normal">
                        <div class="col-md-3" style="padding-left: 0">
                        <img src="/img/solution/test.jpg" width="100%" style="padding-bottom: 10px;padding-left: 0">
                    </div>
                        <div class="col-md-8">
                            <h2>vSphere 云化解决方案</h2>
                            <h4 style="color: #7d7d7d;line-height: 2em">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;
                                &nbsp;快速将 vSphere 虚拟化平台变成私有云</h4>
                        </div>
                    </div>
                    <div class="col-md-12" style="color: #1B497C">
                        <div class="col-md-6"  style="background-color: #1B497C;color: white">
                            <h3 style="line-height: 2em">客户面临的挑战</h3>
                            <li style="list-style-type:none;line-height: 2em;">
                                集中管理， 基于工单的服务
                            </li>
                            <li style="list-style-type:none;line-height: 2em;">
                                手动交付，费时费力
                            </li>
                            <li style="list-style-type:none;line-height: 2em;">
                                资源利用率低下，僵尸机器不断增加
                            </li>
                            <li style="list-style-type:none;line-height: 2em;">
                                分散资源池，无统一管理视图
                            </li>
                        </div>
                        <div class="col-md-6">
                            <h3 style="line-height: 2em">FIT2CLOUD vSphere 云化解决方案</h3>
                            <li style="list-style-type:none;line-height: 2em;">
                                自助服务，配额范围内无需审批
                            </li>
                            <li style="list-style-type:none;line-height: 2em;">
                                自动交付，中间件及数据库自动化部署
                            </li>
                            <li style="list-style-type:none;line-height: 2em;">
                                多租户和计量计费支持，按租户和业务系统进行
                            </li>
                            <li style="list-style-type:none;line-height: 2em;">
                                多资源池的统一管理与分析，规则驱动的优化建议
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="test">
        <div class="row">
            <div class="case-tab">
                <div class="case-item" id="dddid">
                    <div class="col-md-12" style="border-bottom: 1px solid #DFDFDF;margin-bottom: 10px;">
                        <div class="col-md-3" style="padding-left: 0">
                            <img src="/img/solution/test.jpg"  width="100%" style="padding-bottom: 10px;">
                        </div>
                        <div class="col-md-8">
                            <h2 style="line-height: 2em">开发测试云解决方案</h2>
                            <h4 style="color: #7d7d7d;line-height: 2em">&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp; &nbsp;&nbsp; &nbsp;以应用为中心，快速试错、快速迭代</h4>
                        </div>
                    </div>
                    <div class="col-md-12" style="color: #1B497C">
                        <div class="col-md-6">
                            <h3>客户面临的挑战</h3>
                            <li style="list-style-type:none;line-height: 2em;">
                                难以快速响应开发测试资源交付需求
                            </li>
                            <li style="list-style-type:none;line-height: 2em;">
                                难以支撑应用系统高频率部署要求
                            </li>
                            <li style="list-style-type:none;line-height: 2em;">
                                工具碎片化，数据无法共享
                            </li>
                            <li style="list-style-type:none;line-height: 2em;">
                                资源交付和应用交付完全分离
                            </li>
                        </div>
                        <div class="col-md-6" style="background-color: #1B497C;color: white">
                            <h3 style="line-height: 2em">FIT2CLOUD 开发测试云解决方案</h3>
                            <li style="list-style-type:none;line-height: 2em;">
                                资源自助服务、自动化交付
                            </li>
                            <li style="list-style-type:none;line-height: 2em;">
                                统一遵循AWS CodeDeploy 规范，实现持续部署
                            </li>
                            <li style="list-style-type:none;line-height: 2em;">
                                一站式自动化运维及DevOps 工具链
                            </li>
                            <li style="list-style-type:none;line-height: 2em;">
                                以应用为中心的一体化解决方案
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>