<div id="customer-container" class="container" style="margin-top: 0px">
    <section id="vSphere">
        <div class="row">
            <div class="case-tab" id="case_400">
                <div class="case-item" id="case-item-id">
                    <div class="col-md-12" style="margin-bottom: 30px;">
                       <div class="col-md-6">
                           <span style="font-size: 30px;color: #06497D">FIT2CLOUD vSphere 云化解决方案</span>
                       </div>
                        <div class="col-md-5" style="margin-top: 10px">
                            <span style="color: #7d7d7d;font-size: 20px" >快速将 vSphere 虚拟化平台变成私有云</span>
                        </div>
                    </div>
                    <div class="col-md-12" style="color: #1B497C;padding: 0">
                        <img src="/img/solution/vsphere.png" width="100%" >
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="test">
        <!--style=" margin-top: 90px; border-top-width: 1px;border-top: solid;"-->
        <div class="row" >
            <div class="case-tab"  style="margin-top: 80px; border-top: 1px solid">
                <div class="case-item" id="dddd">
                    <div class="col-md-12" style="margin-bottom: 30px;">
                        <div class="col-md-6">
                            <span style="font-size: 30px;color: #06497D">FIT2CLOUD 开发测试云解决方案</span>
                        </div>
                        <div class="col-md-5" style="margin-top: 10px">
                            <span style="color: #7d7d7d;font-size: 20px" >以应用为中心，快速试错、快速迭代</span>
                        </div>
                    </div>
                    <div class="col-md-12" style="color: #1B497C;padding: 0">
                        <img src="/img/solution/test.png" width="100%" >
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>