<section id="userstory">
            <div id="switch" class="carousel slide" data-interval="false" data-ride="carousel">
                <!-- Nav buttons -->
                <a class="carousel-control left" href="#switch" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="carousel-control right" href="#switch" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#switch" data-slide-to="0" class="active"></li>
                    <li data-target="#switch" data-slide-to="1"></li>
                    <li data-target="#switch" data-slide-to="2"></li>
                    <li data-target="#switch" data-slide-to="3"></li>
                    <li data-target="#switch" data-slide-to="4"></li>
                    <li data-target="#switch" data-slide-to="5"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="carousel-caption">
                          <p>“结合自身金融云的建设规划，海通证券通过部署FIT2CLOUD云管理平台，实现了对现有混合基础设施资源的统一管理和自助式资源交付。”</p>
                          <h5>海通证券</h5>
                         </div>
                    </div>
                    <div class="item">
                        <div class="carousel-caption">
                          <p>“上汽乘用车通过部署 FIT2CLOUD 管理平台大幅提升企业内部的IT资源交付效率和运行效率，全面强化IT项目的生命周期管理能力，实现“数据导向”的创新IT运营。”</p>
                          <h5>上汽乘用车</h5>
                         </div>
                    </div>
                    <div class="item">
                        <div class="carousel-caption">
                          <p>“部署FIT2CLOUD混合云管理平台后，无限极的资源交付效率从4~8小时下降至10分钟，资源利用效率提升10%~20%，应用交付效率从20分钟缩短至5分钟。”</p>
                          <h5>无限极</h5>
                         </div>
                    </div>
                    <div class="item">
                        <div class="carousel-caption">
                          <p>“我们选择FIT2CLOUD来统一运维公有云资源及IDC中托管的物理资源，实现了运维自动化。时间证明了，FIT2CLOUD为华数提供的服务是十分稳定可靠的。”</p>
                          <h5>华数传媒</h5>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-caption">
                          <p>“FIT2CLOUD提供的端到端DevOps解决方案帮助我们实现了从代码到业务上线流程的标准化、自动化，大大提高了业务的研发及交付效率。FIT2CLOUD提供的专业实施服务也有力保障了整个方案的最终落地效果。”</p>
                          <h5>远成物流</h5>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-caption">
                          <p>“FIT2CLOUD提供的DevOps及自动化运维一体化方案帮助我们实现业务的全球快速部署以及上线后的自动化运维，大大提升了业务迭代效率和质量。”</p>
                          <h5>小影科技</h5>
                        </div>
                    </div>
                </div>
            </div>
</section>
