<section id="userstory">
            <div id="switch" class="carousel slide" data-interval="false" data-ride="carousel">
                <!-- Nav buttons -->
                <a class="carousel-control left" href="#switch" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="carousel-control right" href="#switch" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#switch" data-slide-to="0" class="active"></li>
                    <li data-target="#switch" data-slide-to="1"></li>
                    <li data-target="#switch" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">

                        <div class="carousel-caption">
                        <p>"我们选择FIT2CLOUD来统一运维公有云资源及IDC中托管的物理资源，实现了运维自动化。时间证明了，FIT2CLOUD为华数提供的服务是十分稳定可靠的。"</p>

                        <h4>王思博</h4>
                            <h5>华数传媒互联网技术部</h5>
                    </div>
                    </div>
                    <div class="item">
                        <div class="carousel-caption">

                        <p>"FIT2CLOUD可以帮助我们在几十秒内完成对数千台虚机的应用更新部署，并实现了对故障的自动化处理，极大的提高了我们的运维效率。"</p>

                        <h4>黄晓轩</h4>
                            <h5>海量信息运维部</h5>
                            </div>
                    </div>
                    <div class="item">
                        <div class="carousel-caption">

                        <p>"FIT2CLOUD可以帮助缺乏运维开发能力的组织迅速搭建建立起自动化运维系统，不再东拼西凑，饱受开源工具安装维护及二次开发之苦。"</p>

                        <h4>阮志敏</h4>
                            <h5>FIT2CLOUD 联合创始人</h5>
                            </div>
                    </div>

                </div>
            </div>
</section>