<section id="whitepaper" class="whitepaper">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3 col-md-pull-1">
                <img src="../img/partners/whitepaper-cover.png" width="75%"
                     style="box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.2);"/>
            </div>
            <div class="col-md-6">
                <p style="color: #428bca; font-size: 14px; font-weight: 500">2018年最新版</p>
                <h6 style="color: #002540; padding-top: 2%; font-size: 22px; font-weight: 300; ">FIT2CLOUD 白皮书：混合云管理平台助力企业数字化转型</h6>
                <p style="color: rgb(121, 122, 124); font-size: 16px; font-weight: 100; ">看企业如何在混合IT时代管好云、用好云、控好云。<p>
                <p style="color: rgb(121, 122, 124); font-size: 16px; font-weight: 100; ">该技术白皮书包括最新的 CMP 参考架构、技术规范及典型案例分析。</p>
                <div style="padding-top:5%">
                    <a href="https://jinshuju.net/f/LhfQhH" target="_blank" class="btn btn-primary">获取技术白皮书</a>
                </div>
            </div>

        </div>
    </div>
</section>
