<section id="whitepaper" class="whitepaper">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3 col-md-pull-1">
                <img src="../img/partners/whitepaper-cover.png" width="75%"
                     style="box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.2);"/>
            </div>
            <div class="col-md-6">
                <p style="color: #428bca; font-size: 14px; font-weight: 500">2018年最新版</p>
                <h6 style="color: #002540; padding-top: 2%; font-size: 22px; font-weight: 300; ">云管理平台（CMP）参考架构及技术规范</h6>
                <p style="color: rgb(121, 122, 124); font-size: 16px; font-weight: 100; ">学习企业采纳云管理平台的路线图及典型案例。<p>
                <div style="padding-top:5%">
                    <a href="https://jinshuju.net/f/LhfQhH" target="_blank" class="btn btn-primary">点击获取</a>
                </div>
            </div>

        </div>
    </div>
</section>
