<!DOCTYPE html>
<html>
{% include header.html %}
<body>
<div id="about-container" class="container">
    <div class="row">
            <h2 class="text-center">关于我们</h2>
            <hr style="border-color:#f0f0ff">
            <br>
            <p>杭州飞致云信息科技有限公司成立于2014年，是一家创新型的云计算科技企业。我们致力于解决企业跨平台云管理问题，为云基础设施和应用提供配置、 监控、自动化和管理服务，让企业能够轻松部署和管理跨公有云、私有云的重要商业应用，从而帮助企业更好地使用云来加速业务创新，实现从传统IT到Cloud IT的转型。</p>
            <p>当前, Cloud和DevOps已成为新常态，传统IT运维管理软件(ITOM)和以控制变更为核心的运维流程无法满足这两个新常态所带来的变化， 为此，我们提供一站式的应用交付及运维管理平台—FIT2CLOUD，提升用户使用云平台的效率和成熟度, 实现“Fit to Cloud”的愿景。</p>
            <p>FIT2CLOUD由一批痴迷于DevOps的云上早期实践者创立。FIT2CLOUD核心团队来自于三星、惠普、摩托罗拉等公司，长期专注于如何更好地使用云和持续交付来加速业务创新，对构建、部署和运营大规模、高可用、可伸缩原生云应用的有着非常丰富的经验。
            <br>
        </div>
    <div class="row">

            <h2 class="text-center">核心产品</h2>
            <hr style="border-color:#f0f0ff">
            <br>
            <p>FIT2CLOUD是飞致云专门为企业用户打造的云上一站式应用交付及运维管理平台。它建立在IaaS之上，涵盖混合云管理(跨公有云、私有云、传统IDC托管机器等)、 自动化运维、统一的监控告警、自服务IT和持续交付。基于FIT2CLOUD，企业可以使用它实现应用全生命周期的自动化管理，打通从代码到服务的转化通道，实现云应用 的持续交付和自动化运维。</p>
			<p>下图是FIT2CLOUD(阿里云版)的产品功能图：
    </div>
    <div class="row text-center">
            <img src="/img/about/fit2cloud-aliyun.png">
        </div>
    </div>
</div>
{% include js.html %}
{% include contact.html %}
{% include footer.html %}
</body>
</html>