<!DOCTYPE html>
<html>
{% include header.html %}
<body>
<div id="about-container" class="container">
    <div class="row">
            <h2 class="text-center">关于我们</h2>
            <hr style="border-color:#f0f0ff">
            <br>
            <p>FIT2CLOUD是业界领先的混合云管理及DevOps协作平台提供商。我们致力于解决企业跨平台云管理问题，为云基础设施和应用提供配置、 监控、自动化和管理服务，让企业能够轻松部署和管理跨公有云、私有云的重要商业应用，帮助企业更好地使用云来加速业务创新，实现“Fit to Cloud”的愿景。</p>
            <p>FIT2CLOUD混合云管理及DevOps协作平台建立在IaaS之上，涵盖混合云管理(公有云、私有云、虚级化环境及物理机)、自动化运维、统一的监控告警、自服务IT和持续交付。基于FIT2CLOUD，企业可以实现对应用全生命周期的自动化管理，打通从代码到服务的转化通道，实现云应用的持续交付和自动化运维。</p>
            <p>FIT2CLOUD由一批痴迷于DevOps的云上早期实践者创立，其核心团队来自于三星研究院、阿里云、惠普、摩托罗拉等公司，长期专注于如何更好地使用云和持续交付来加速业务创新，对构建、部署和运营大规模、高可用、可伸缩原生云应用有着非常丰富的经验。
            <br>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <h2 class="text-center">未来就绪企业云联盟</h2>
        <hr style="border-color:#f0f0ff">
        <br>
        <p>戴尔携手云产业合作伙伴组建未来就绪企业云联盟，旨在为中国用户带来更优秀的混合云解决方案，共同为混合云的客户和潜在客户提供包括咨询、部署、培训和技术支持等一系列服务及产品，共同推动混合云在中国市场的发展。</p>
        <p>FIT2CLOUD 凭借其混合云管理及 DevOps 协作能力,荣幸成为联盟首批 10 家成员单位之一。</p>
        <br>
        <div class="container">
            <img class="img-responsive center-block" src="/img/freco.png">
        </div>
    </div>

</div>
{% include partners.html %}


{% include js.html %}
{% include contact.html %}
{% include footer.html %}
</body>
</html>
