<!DOCTYPE html>
<html>
{% include header.html %}
<body>
<div id="about-container" class="container">
    <div class="row">
            <h2 class="text-center">关于我们</h2>
            <hr style="border-color:#f0f0ff">
            <br>
	    <p>FIT2CLOUD 是业界领先的云管理平台（CMP）提供商，帮助企业管好云资源、控好云成本、用好云服务，更好地使用云和持续交付来加速业务创新，实现“Fit to Cloud”的愿景。</p>
            <p>「FIT2CLOUD 混合云管理平台」帮助企业统一管理异构和异地基础设施，包括物理机(AIX)、虚拟化平台（vSphere，FusionSphere等）、私有云（Openstack等）和公有云（亚马逊AWS、阿里云等），以服务目录形式对外统一交付IT资源，实现自服务IT。</p>
            <p>「FIT2CLOUD DevOps协作平台」帮助企业在混合云环境下落地亚马逊AWS DevOps解决方案，实现对应用全生命周期的自动化管理，打通从代码到服务的转化通道，实现云应用的持续部署、交付和自动化运维。</p>

            <p>「FIT2CLOUD 云费用管理平台」帮助企业管控云成本，实现对云费用和资源使用情况的可视化分析，优化和预测。 </p>
            <p>FIT2CLOUD 由一批痴迷于DevOps的云上早期实践者创立，其核心团队来自于三星研究院、阿里云、惠普、摩托罗拉等公司，长期专注于如何更好地使用云和持续交付来加速业务创新，对构建、部署和运营大规模、高可用、可伸缩原生云应用有着非常丰富的经验。
            <br>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <h2 class="text-center">未来就绪企业云联盟</h2>
        <hr style="border-color:#f0f0ff">
        <br>
        <p>戴尔携手云产业合作伙伴组建未来就绪企业云联盟，旨在为中国用户带来更优秀的混合云解决方案，共同为混合云的客户和潜在客户提供包括咨询、部署、培训和技术支持等一系列服务及产品，共同推动混合云在中国市场的发展。</p>
        <p>FIT2CLOUD 凭借其混合云管理及 DevOps 协作能力,荣幸成为联盟首批 10 家成员单位之一。</p>
        <br>
        <div class="container">
            <img class="img-responsive center-block" src="/img/freco.png" style="border: 1px solid #d7d7d7; border-radius:2px">
        </div>
    </div>

</div>
{% include partners.html %}


{% include js.html %}
{% include contact.html %}
{% include footer.html %}
</body>
</html>
