<!DOCTYPE html>
<html>
{% include header.html %}
<body>
<div id="about-container" class="container">
    <div class="row">
            <h2 class="text-center">产品介绍</h2>
            <hr style="border-color:#f0f0ff">
            <br>
	    	<p>FIT2CLOUD 云资源分析平台可以对混合IT（物理机、虚拟化、私有云和公有云） 下的物理资源池（群集、宿主机、存储器）和虚拟资源（虚拟机、云磁盘）进行各种维度的分析，支持自定义各项资源的单价，支持按部门、业务系统和项目进行资源统计和成本分析。</p>
            <br>
	        <div class="container">
	            <img class="img-responsive center-block" style="height:50%;width:50%;" src="/img/cfi.png">
	        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <h2 class="text-center">下载和安装指南</h2>
        <hr style="border-color:#f0f0ff">
		<p>详情请查看：<a href="https://fit2cloud.gitbooks.io/fit2cloud-v2-0-management-manual/content/">产品下载及安装指南</a></p>
        <br>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <h2 class="text-center">使用指南</h2>
        <hr style="border-color:#f0f0ff">
		<p>详情请查看：<a href="https://fit2cloud.gitbooks.io/fit2cloud/content/%E8%B5%84%E6%BA%90%E5%8F%8A%E6%88%90%E6%9C%AC%E5%88%86%E6%9E%90/">产品使用指南</a></p>
        <br>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <h2 class="text-center">技术支持</h2>
        <hr style="border-color:#f0f0ff">
		<p>电话：010-60844018</p>
		<p>邮箱：support@fit2cloud.com</p>
        <br>
    </div>    
</div>

{% include js.html %}
{% include contact.html %}
{% include footer.html %}
</body>
</html>
