<!DOCTYPE html>
<html>
{% include header.html %}
<link href="{{base.url}}/css/pricing.css" rel="stylesheet">
<body>
<div id="pricing" class="container content-section text-center" style="padding-top: 60px; margin-top: 30px">
    <div class="row">
        <h3>报价：FIT2CLOUD 云费用管理平台</h3>
    </div>
    <div class="row">
        <div class="span4 free">
            <div class="pricing-table-header-tiny">
                <h3>￥ 999/月</h3>
                <h3>标准版</h3>
            </div>
            <div class="pricing-table-features">
                <p><strong>每月公有云费用小于10万</strong></p>
                <br/>
                <p>标准功能</p>
                <p>定期升级</p>
                <p>5x8 电话、邮件、远程</p>
		<p>每月300条短信通知</p>
            </div>
            <div style="min-height: 40px" class="pricing-table-features">
                <p><strong>部署方式</strong></p>
                <br/>
                <p>SaaS</p>
            </div>
            <div class="pricing-table-signup-tiny">
                <p><a href="http://fit2cloud.mikecrm.com/9y8XXm">申请试用</a></p>
            </div>
        </div>
        <div class="span4 free">
            <div class="pricing-table-header-tiny">
                <h3>￥ 1999/月</h3>
                <h3>专业版</h3>
            </div>
            <div class="pricing-table-features">
                <p><strong>每月公有云费用大于10万</strong></p>
                <br/>
                <p>标准功能</p>
                <p>定期升级</p>
                <p>5x8 电话、邮件、远程</p>
		<p>每月600条短信通知</p>
            </div>
            <div style="min-height: 40px" class="pricing-table-features">
                <p><strong>部署方式</strong></p>
                <br/>
                <p>SaaS</p>
            </div>
            <div class="pricing-table-signup-tiny">
                <p><a href="http://fit2cloud.mikecrm.com/9y8XXm">申请试用</a></p>
            </div>
        </div>

        <div class="span4 free">
            <div class="pricing-table-header-tiny">
                <h3> 联系销售</h3>
                <h3>企业版</h3>
            </div>
            <div class="pricing-table-features">
                <p><strong>支持VMware和Openstack的使用分析</strong></p>
                <br/>
                <p>标准功能 + 部分可定制</p>
                <p>按需升级</p>
                <p>7x24 电话、邮件、远程</p>
		<p style="color:#1d6391; font-weight:900">现场支持</p>
            </div>
            <div style="min-height: 40px" class="pricing-table-features">
                <p><strong>部署方式</strong></p>
                <br/>
                <p>本地化部署</p>
            </div>
            <div class="pricing-table-signup-tiny">
                <p><a href="http://www.mikecrm.com/f.php?t=5r5Pjr" target="_blank">联系我们</a></p>
            </div>
        </div>
    </div>
</div>

{% include js.html %}
{% include contact.html %}
{% include footer.html %}
</body>
<script>$(function () { $("[data-toggle='tooltip']").tooltip(); });</script>

</html>
