<!DOCTYPE html>
<html>
{% include header.html %}

<body>
<div id="case-banner" class="container"></div>
<div id="customer-container" class="container" style="padding-top: 30px">
    <div class="row">
        <div class="case-tab" id="case_400">
            {% for customer in site.data.customers %}
            <div class="case-item">
                <div class="col-md-3">
                    <a href={{ customer.url }} class="case-logo"><img src={{ customer.img }}></a>
                </div>
                <div class="col-md-9">
                    <h2><a href={{ customer.url }}> {{ customer.name }}</a></h2>
                    <p>{{ customer.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% include js.html %}
{% include footer.html %}
</body>

</html>