<!DOCTYPE html>
<html>
{% include header.html %}
<link href="{{base.url}}/css/pricing.css" rel="stylesheet">
<body>
<div id="pricing" class="container content-section " style="padding-top: 60px; margin-top: 30px">
    <div class="row">
        <div class="col-lg-10 deploy-item">
           <h3>阿里云镜像启动</h3>
            <p>FIT2CLOUD 在阿里云中注册镜像，通过阿里云控制台，可以一键启动FIT2CLOUD企业版服务。</p>
            <code>http://market.aliyun.com/products/53690006/jxsc000119.html?spm=5176.900004.4.2.fk8zIv</code>
        </div>
        <div class="col-lg-10 deploy-item">
            <h3>手动安装</h3>
            <p>在IDC主机/云主机中执行下面代码：</p>
            <code>
                bash -S $(curl https://fit2cloud.com/download/install.sh)
            </code>
        </div>
        <div class="col-lg-10 deploy-item">
            <h3>SaaS 部署</h3>
            <p>balbabalbaalbababba</p>
        </div>
        <div class="col-lg-10 deploy-item">
            <h3>联系我们</h3>
            <p>提供专业企业上云、运维管理、部署集成及相关服务。 <a href="http://www.mikecrm.com/f.php?t=5r5Pjr">点击联系</a></p>
        </div>
    </div>
</div>
</body>
</html>
