<!DOCTYPE html>
<html>
{% include header.html %}
<link href="{{base.url}}/css/pricing.css" rel="stylesheet">
<body>
<div id="pricing" class="container content-section text-center" style="padding-top: 60px; margin-top: 30px">
    <div class="row">
        <h3>报价：FIT2CLOUD 混合云管理及 DevOps 协作平台</h3>
    </div>
    <div class="row">
        <div class="span3 free">
            <div class="pricing-table-header-tiny">
                <h3>￥ 0/月</h3>
                <h3>免费版</h3>
            </div>
            <div class="pricing-table-features">
                <p><strong>最多可管理50台主机</strong><sup>注1</sup></p>
                <br/>
                <p>标准功能</p>
                <p>定期升级</p>
                <p>5x8 电话、邮件、远程</p>
                <p>每月50条免费告警短信</p>
            </div>
            <div style="min-height: 40px" class="pricing-table-features">
                <p><strong>部署方式</strong></p>
                <br/>
                <p>SaaS<sup>注2</sup></p>
            </div>
            <div class="pricing-table-signup-tiny">
                <p><a href="https://console.fit2cloud.com/login">免费试用</a></p>
            </div>
        </div>
        <div class="span3 free">
            <div class="pricing-table-header-tiny">
                <h3>￥ 4999/月</h3>
                <h3>标准版<span style="font-size: 16px;">(订阅模式)</span></h3>
            </div>
            <div class="pricing-table-features">
                <p><strong>最多可管理200台主机</strong></p>
                <br/>
                <p>标准功能</p>
                <p>定期升级</p>
                <p>5x8 电话、邮件、远程</p>
                <p>每月200条告警短信</p>
            </div>
            <div style="min-height: 40px" class="pricing-table-features">
                <p><strong>部署方式</strong></p>
                <br/>
                <p>SaaS<sup>注2</sup> & 本地化部署<sup>注3</sup> </p>
            </div>
            <div class="pricing-table-signup-tiny">
                <p><a href="https://console.fit2cloud.com/login">免费试用</a></p>
            </div>
        </div>
        <div class="span3 free">
            <div class="pricing-table-header-tiny">
                <h3>￥ 9999/月</h3>
                <h3>专业版<span style="font-size: 16px;">(订阅模式)</span></h3>
            </div>
            <div class="pricing-table-features">
                <p><strong>最多可管理500台主机</strong></p>
                <br/>
                <p>标准功能</p>
                <p>定期升级</p>
                <p>5x8 电话、邮件、远程</p>
                <p>每月500条告警短信</p>
            </div>
            <div style="min-height: 40px" class="pricing-table-features">
                <p><strong>部署方式</strong></p>
                <br/>
                <p>SaaS<sup>注2</sup> & 本地化部署<sup>注3</sup> </p>
            </div>
            <div class="pricing-table-signup-tiny">
                <p><a href="https://console.fit2cloud.com/login">免费试用</a></p>
            </div>
        </div>

        <div class="span3 free">
            <div class="pricing-table-header-tiny">
                <h3> ￥ 1000/台 + 平台费</h3>
                <h3>企业版<span style="font-size: 16px;">(永久License)</span></h3>
            </div>
            <div class="pricing-table-features">
                <p><strong>无主机数量限制</strong></p>
                <br/>
                <p>标准功能 + 部分可定制</p>
                <p>按需升级</p>
                <p>7x24 电话、邮件、远程</p>
		<p style="color:#1d6391; font-weight:900">现场支持</p>
            </div>
            <div style="min-height: 40px" class="pricing-table-features">
                <p><strong>部署方式</strong></p>
                <br/>
                <p>本地化部署<sup>注3</sup></p>
            </div>
            <div class="pricing-table-signup-tiny">
                <p><a href="http://www.mikecrm.com/f.php?t=5r5Pjr" target="_blank">联系我们</a></p>
            </div>
        </div>
    </div>
    <div style="text-align: left; font-weight: 300; padding-left: 20px;" class="row">
        <p>FIT2CLOUD 支持两种销售模式：永久License、订阅模式。</p> 
        <P>永久License： 按照“平台费+被管理主机数量（Agent数量）”进行授权，平台费为80万，每Agent的授权费为1000元。 每年的维保费用为软件授权费用的15%。</p>
        <p>订阅模式：软件订阅模式的时间周期以1年为粒度，购买软件订阅服务，除获得软件订阅版本的下载、使用权、升级权，还包括标准的远程技术服务。FIT2CLOUD 有两档订阅服务，标准版每月￥4999元可管理不超过200台主机，专业版每月￥9999可管理不超过500台主机；标准版和专业版均支持本地部署。</p>
        <p>注1: FIT2CLOUD 在被管理机器上面会安装 Agent，安装 Agent 后的机器即为一台主机；</p>
        <p>注2: SaaS 即<a href="https://console.fit2cloud.com">在线版服务</a>，由 FIT2CLOUD 运营的多租户 SaaS 服务；
        <p>注3: 本地化部署即指 FIT2CLOUD 部署在用户自己的环境下。</p>
    </div>
</div>

<div id="features" class="container content-section text-center">
    <div class="row">
        <h3>功能列表</h3>
    </div>
    <div class="table">
        <div class="row header blue">
            <div class="cell">
                功能
            </div>
            <div class="cell">
                免费版
            </div>
            <div class="cell">
                标准版
            </div>
            <div class="cell">
                专业版
            </div>
            <div class="cell">
                企业版
            </div>
        </div>

        {% for feature in site.data.features %}
        <div class="row">
            <div class="cell">
                {% if feature.category %}
                    <strong>{{ feature.category }}</strong>
                {% else %}
                    {{ feature.name }}
                {% endif %}
            </div>
            <div class="cell">
                {% if feature.category %}
                    <i></i>
                {% else %}
                    {% if feature.free == "yes" %}
                    <i class="fa fa-check"></i>
                    {% else %}
                    <i class="fa fa-times"></i>
                    {% endif %}
                {% endif %}
            </div>
            <div class="cell">
                {% if feature.category %}
                    <i></i>
                {% else %}
                    {% if feature.standard == "yes" %}
                    <i class="fa fa-check"></i>
                    {% else %}
                    <i class="fa fa-times"></i>
                    {% endif %}
                {% endif %}
            </div>
            <div class="cell">
                {% if feature.category %}
                    <i></i>
                {% else %}
                    {% if feature.pro == "yes" %}
                    <i class="fa fa-check"></i>
                    {% else %}
                    <i class="fa fa-times"></i>
                    {% endif %}
                {% endif %}
            </div>
            <div class="cell">
                {% if feature.category %}
                    <i></i>
                {% else %}
                    {% if feature.enterprise == "yes" %}
                    <i class="fa fa-check"></i>
                    {% else %}
                        {% if feature.enterprise == "no" %}
                        <i class="fa fa-times"></i>
                        {% else %}
                        <a href="#" style="user-focus-pointer: none" data-toggle="tooltip" data-placement="top" title="{{ feature.enterprise }}"><i class="fa fa-gear"></i></a>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% include js.html %}
{% include contact.html %}
{% include footer.html %}
</body>
<script>$(function () { $("[data-toggle='tooltip']").tooltip(); });</script>

</html>
