<!DOCTYPE html>
<html>
{% include header.html %}
<link href="{{base.url}}/css/pricing.css" rel="stylesheet">
<body>
<div id="pricing" class="container content-section text-center" style="padding-top: 60px; margin-top: 30px">
    <div class="row">
        <h3>FIT2CLOUD 报价</h3>
    </div>
    <div class="row">
        <div class="span3 free">
            <div class="pricing-table-header-tiny">
                <h3>￥ 0/月</h3>
                <h3>免费版</h3>
            </div>
            <div class="pricing-table-features">
                <p><strong>最多可管理50台主机</strong></p>
                <br/>
                <p>标准功能</p>
                <p>定期在线升级</p>
                <p>5x8 电话、邮件、远程</p>
            </div>
            <div style="min-height: 40px" class="pricing-table-features">
                <p><strong>部署方式</strong></p>
                <br/>
                <p>SaaS<sup>注1</sup> & 本地化部署<sup>注2</sup></p>
            </div>
            <div class="pricing-table-signup-tiny">
                <p><a href="https://console.fit2cloud.com/login">免费试用</a></p>
            </div>
        </div>
        <div class="span3 free">
            <div class="pricing-table-header-tiny">
                <h3>￥ 4999/月</h3>
                <h3>标准版</h3>
            </div>
            <div class="pricing-table-features">
                <p><strong>最多可管理200台主机</strong></p>
                <br/>
                <p>标准功能</p>
                <p>定期在线升级</p>
                <p>7x24 电话、邮件、远程</p>
            </div>
            <div style="min-height: 40px" class="pricing-table-features">
                <p><strong>部署方式</strong></p>
                <br/>
                <p>SaaS<sup>注1</sup> & 本地化部署<sup>注2</sup></p>
            </div>
            <div class="pricing-table-signup-tiny">
                <p><a href="https://console.fit2cloud.com/login">免费试用</a></p>
            </div>
        </div>
        <div class="span3 free">
            <div class="pricing-table-header-tiny">
                <h3>￥ 9999/月</h3>
                <h3>专业版</h3>
            </div>
            <div class="pricing-table-features">
                <p><strong>最多可管理500台主机</strong></p>
                <br/>
                <p>标准功能</p>
                <p>定期在线升级</p>
                <p>7x24 电话、邮件、远程</p>
            </div>
            <div style="min-height: 40px" class="pricing-table-features">
                <p><strong>部署方式</strong></p>
                <br/>
                <p>SaaS<sup>注1</sup> & 本地化部署<sup>注2</sup></p>
            </div>
            <div class="pricing-table-signup-tiny">
                <p><a href="https://console.fit2cloud.com/login">免费试用</a></p>
            </div>
        </div>

        <div class="span3 free">
            <div class="pricing-table-header-tiny">
                <h3>￥ 899/台</h3>
                <h3>企业版</h3>
            </div>
            <div class="pricing-table-features">
                <p><strong>无主机数量限制<sup>(注3)</sup></strong></p>
                <br/>
                <p>标准功能 + 部分可定制</p>
                <p>按需在线升级</p>
                <p>7x24 电话、邮件、远程、</p><p style="color:#1d6391; font-weight:900">现场支持</p>
            </div>
            <div style="min-height: 40px" class="pricing-table-features">
                <p><strong>部署方式</strong></p>
                <br/>
                <p>仅本地化部署<sup>注2</sup></p>
            </div>
            <div class="pricing-table-signup-tiny">
                <p><a href="http://www.mikecrm.com/f.php?t=5r5Pjr" target="_blank">联系我们</a></p>
            </div>
        </div>
    </div>
    <div style="text-align: left; font-weight: 300; padding-left: 20px;" class="row">
        <p>注1: SaaS即在<a href="https://console.fit2cloud.com">线版服务</a>，由FIT2CLOUD运营的多租户SaaS服务；
        <p>注2: 本地化部署即FIT2CLOUD部署在用户在自己的环境下，完全由用户自己控制；详细操作可查看<a href="http://docs.fit2cloud.com/">相关文档</a></p>
        <p>注3: 假设被FIT2CLOUD管理的主机有100台，那么软件授权费用即为: 100 * ￥899/台 = ￥89,999，具体折扣及维保费用请联系我们的销售。 </p>
    </div>
</div>

<div id="features" class="container content-section text-center">
    <div class="row">
        <h3>FIT2CLOUD 功能列表</h3>
    </div>
    <div class="table">
        <div class="row header blue">
            <div class="cell">
                功能
            </div>
            <div class="cell">
                免费版
            </div>
            <div class="cell">
                标准版
            </div>
            <div class="cell">
                专业版
            </div>
            <div class="cell">
                企业版
            </div>
        </div>

        {% for feature in site.data.features %}
        <div class="row">
            <div class="cell">
                {% if feature.category %}
                    <strong>{{ feature.category }}</strong>
                {% else %}
                    {{ feature.name }}
                {% endif %}
            </div>
            <div class="cell">
                {% if feature.category %}
                    <i></i>
                {% else %}
                    {% if feature.free == "yes" %}
                    <i class="fa fa-check"></i>
                    {% else %}
                    <i class="fa fa-times"></i>
                    {% endif %}
                {% endif %}
            </div>
            <div class="cell">
                {% if feature.category %}
                    <i></i>
                {% else %}
                    {% if feature.standard == "yes" %}
                    <i class="fa fa-check"></i>
                    {% else %}
                    <i class="fa fa-times"></i>
                    {% endif %}
                {% endif %}
            </div>
            <div class="cell">
                {% if feature.category %}
                    <i></i>
                {% else %}
                    {% if feature.pro == "yes" %}
                    <i class="fa fa-check"></i>
                    {% else %}
                    <i class="fa fa-times"></i>
                    {% endif %}
                {% endif %}
            </div>
            <div class="cell">
                {% if feature.category %}
                    <i></i>
                {% else %}
                    {% if feature.enterprise == "yes" %}
                    <i class="fa fa-check"></i>
                    {% else %}
                        {% if feature.enterprise == "no" %}
                        <i class="fa fa-times"></i>
                        {% else %}
                        <a href="#" style="user-focus-pointer: none" data-toggle="tooltip" data-placement="top" title="{{ feature.enterprise }}"><i class="fa fa-gear"></i></a>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% include js.html %}
{% include contact.html %}
{% include footer.html %}
</body>
<script>$(function () { $("[data-toggle='tooltip']").tooltip(); });</script>

</html>
